.CodeEditor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.CodeEditor-palette {
  border-right: 1px solid #ccc;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
}

.CodeEditor-palette > *:not(:last-child) {
  margin-bottom: 1em;
}

.CodeEditor-block {
  width: max-content;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  cursor: grab;
}

.CodeEditor-block.CodeEditor-highlight-valid {
  outline: 2px solid black;
}

.CodeEditor-block.CodeEditor-highlight-invalid {
  outline: 2px solid red;
}

.CodeEditor-block-style-expr, .CodeEditor-block-style-decl, .CodeEditor-block-style-stmt, .CodeEditor-block-style-hole {
  padding: 0.5em 1em;
}

.CodeEditor-block-style-hole {
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  color: #ccc;
  user-select: none;
}

.CodeEditor-block-style-ev {
  padding: 0.25em;
}

.CodeEditor-block-line {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}

.CodeEditor-block-vlist {
  padding: 0 1em;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
}

.CodeEditor-block-vlist-sep {
  height: 2px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.CodeEditor-block-vlist-sep.CodeEditor-highlight-valid {
  background: black;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.CodeEditor-block-vlist-sep.CodeEditor-highlight-invalid {
  background: red;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.CodeEditor-tmp-node {
  opacity: 0.5;
  width: max-content;
}

.CodeEditor-block input {
  width: 3em;
}

.CodeEditor-EVPreview {
  width: 3em;
  height: 3em;
}

.CodeEditor-drags {
  pointer-events: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
