.App {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 12px;
}

.App-rule-palette {
  flex: 1;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 1em;
  overflow: hidden;
}

.App-rule-palette-rest {
  flex: 3;
  display: flex;
  min-width: 0;
  min-height: 0;
  flex-direction: column;
}

.App-kind-palette-rest {
  flex: 7;
  min-width: 0;
  min-height: 0;
  display: flex;
}

.App-rules {
  flex: 1;
  border-right: 1px solid #ccc;
}

.App-worldview-container {
  flex: 2;
  overflow: hidden;
}

.App-worldview-canvas {
  display: block;
  touch-action: none;
  user-select: none;
}

.App-kind-palette {
  flex: 0;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.App-kind-palette > * {
  max-width: 100px;
  max-height: 100px;
}

.App-drags {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  touch-action: none;
}

.Rule {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: white;
}

.Rule-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.Rule-param-empty {
  color: #ccc;
  width: 3em;
  height: 3em;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
