.PoolTabPanel {
  width: 100%;
  height: 100%;
  display: flex;
}

.PoolTabPanel-list {
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
}

.PoolTabPanel-editor {
  flex: 1;
}

.PoolTabPanel-preview-container {
  width: 6em;
  height: 6em;
  flex: 0 0 auto;
}
